{% autoescape true %}
<html>
<head>
<meta charset="UTF-8">
<title>Tiniter</title>
<link rel = "stylesheet"
      href = "/vendor/bootstrap/css/bootstrap.min.css">
<link rel = "stylesheet"
      href = "/css/site.css">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
{% endautoescape %}
